/* général  */
body {
      font-family: 'Roboto';
      font-size: 12px;
}

* {
  box-sizing: border-box;

}

/* fonts */
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf"), url("../fonts/Roboto-Black.ttf");
    font-weight:normal;
    font-style:normal;
    font-variant:normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("../fonts/Roboto-Bold.ttf"), url("../fonts/Roboto-BoldItalic.ttf");
    font-weight: bold;
    
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url("../fonts/Roboto-BlackItalic.ttf"), url("../fonts/Roboto-Italic.ttf"), url("../fonts/Roboto-LightItalic.ttf");
    font-style: italic;
    font-weight: lighter;
}

@font-face {
    font-family: 'Roboto-light';
    src: url("../fonts/Roboto-Light.ttf"), url("../fonts/Roboto-LightItalic.ttf");
    font-weight: lighter;
    font-style: italic; 
}
@font-face {
    font-family: 'Roboto-thin';
    src: url("../fonts/Roboto-Thin.ttf"), url("../fonts/Roboto-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic; 
}

/* header */
ul li, ul li a {
    list-style-type: none;
    text-decoration: none;
    color: #B0B0B0;
    font-size: 16px;
}

/*over sur les liens de la nav */
a:hover {

    border-top: 4px solid #3BAED7;
    cursor: pointer;
    padding-top: 1em;
}


/* Style pour le carousel */
#slideshow {
    position: relative;
    width: 1600px;
    height: 550px;
    padding: 15px;
    margin: 0 auto 2em;
}

/* les dimensions de notre containeur */
#slideshow .caroussel-container {
    position: relative;
    width: 1602px; /* la taille du container doit être plus grande que la taille des images pour avoir les deux images affichées */
    height: 550px;
    overflow: hidden;
}


/* le conteneur des slides */
#slideshow .slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 550px;
    animation: slider 20s infinite;
}

/* annulation des marges sur figure */
#slideshow figure {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
}

/* fonction d'animation */
@keyframes slider {

  0% {
      transform: translateX(0%);
  }

  20% {
      transform: translateX(0%);
  }

  50% {
      transform: translateX(-50%);
  }

   70% {
      transform: translateX(-50%);
  } 

  100% {
      transform: translateX(0%);
  }
  }


  /*la timeline */
  #timeline {
      position: absolute;
      background:#3BAED7;
      left: 15px;
      height: 5px;
      background: rgb(59, 74, 215);
      background: rgba(59, 74, 215, .8);
      width: 0;
      /* fonction d'animation */
      animation: timeliner 20s infinite;
  }

@keyframes timeliner {

    0%,
    50%,
    100% {
        width: 0;
    }

    20%,
    90% {
        width: 100%;
    }
}