/* général  */

body {
    font-family: 'Roboto';
    font-size: 12px;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* fonts */

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Light.ttf"), url("../fonts/Roboto-LightItalic.ttf");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Thin.ttf"), url("../fonts/Roboto-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

/* header */

ul li,
ul li a {
    list-style-type: none;
    color: #B0B0B0;
    font-size: 16px;
}

/*hover sur les liens de la nav */

.nav-link:hover {
    border-top: 4px solid #3BAED7;
    cursor: pointer;
    padding-top: 1em;
}

.fas {
    color: #3BAED7;
}

a {
    text-decoration: none;
}

.blue-point {
    display: flex;
}

i {
    margin: 0 auto;
    font-size: 15px;
}

/* Style pour mobile */

header {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    top: 0;
    margin: 0;
    position: fixed;
    z-index: 2;
}

#acceuil {
    margin-top: 15em;
}

.header-nav .header-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    position: sticky;
}

/* Style pour l'image à remplacer par le carousel */

.img-container {
    display: flex;
    margin: 0;
}

.image {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    vertical-align: top;

}

.slider-presentation {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.slider-txt {
    text-align: center;
}

.slider-title {
    font-size: 3em;
    font-weight: bolder;
    text-transform: uppercase;
}

.slider-para {
    font-size: 2em;
    font-weight: normal;
}

.slider-btn {
    background-color: #5cadd3;
    border-radius: 3px;
    height: 50px;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.slider-btn a {
    color: #fff;
    font-size: 2em;
    font-weight: bolder;
}

.section-title {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    padding-top: 25px;
}

.blue-point {
    justify-content: center;
}

.line {
    width: 150px;
    height: 1px;
    border-top: solid 1px #B0B0B0;
    text-align: center;
    position: relative;
}

.line i {
    position: absolute;
    top: -7px;
}

.services-para {
    text-align: center;
    font-size: 16px;
    margin: 10px;
    margin-top: 25px;
}

h3 {
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
}

.services-block {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 10px;
}

.services-img {
    display: none;
    margin-top: 50px;
}

.icones {
    border: 1px solid rgba(204, 204, 204, 0.50);
    border-radius: 50%;
    padding: 20px;
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.icones-circle {
    position: absolute;
    margin: 16px;
}

#projets {
    background-color: #f5f5f5;
}

.filtres-nav {
    list-style-type: none;
    justify-content: space-around;
    display: flex;
    margin: 50px 0;
    padding: 0;
    font-size: 75%;
}

.filtres-link {
    text-decoration: none;
    color: rgb(118, 121, 126);
    background-color: rgb(229, 229, 229);
    border-radius: 5px;
}