/* général  */

body {
    font-family: 'Roboto';
    font-size: 12px;
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* fonts */

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Light.ttf"), url("../fonts/Roboto-LightItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Thin.ttf"), url("../fonts/Roboto-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

/* header */

ul li,
ul li a {
    list-style-type: none;
    color: #B0B0B0;
    font-size: 16px;
}

/*hover sur les liens de la nav */

.nav-link:hover {
    border-top: 4px solid #3BAED7;
    cursor: pointer;
    padding-top: 1em;
}

.fas {
    color: #3BAED7;
}

a {
    text-decoration: none;
}

.blue-point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

i {
    margin: 0 auto;
    font-size: 15px;
}

/* Style pour mobile */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    width: 100%;
    top: 0;
    margin: 0;
    position: fixed;
    /* Le z-index est ici à 10 car il est aussi utilisé pour les contrôles du slider d'où sa valeur forte */
    z-index: 10;
}

/* Un margin-top pour gérer le menu fixe */

#acceuil {
    margin-top: 10em;
}

.header-nav .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em;
}

/* Le carousel */

.slider {
    display: none;
}

#i1,
#i2 {
    display: none;
}

.container {
    margin-top: 20px;
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 35%;
    width: 100%;
}

.container .slide_img {
    width: 100%;
    position: absolute;
}

.container .slide_img img {
    width: 100%;
    height: 100%;
    -webkit-animation: slider 10s infinite;
            animation: slider 10s infinite;
    overflow: hidden;
}

.prev,
.next {
    width: 50px;
    height: 100px;
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, .2);
    color: rgba(244, 244, 244, .9);
    z-index: 0;
    cursor: pointer;
    text-align: center;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    /* Pour cacher les flèches en mode mobile */
    /* display: none; */
}

.next {
    right: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.prev {
    left: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

label span {
    position: absolute;
    font-size: 65px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.prev:hover,
.next:hover {
    background-color: rgba(88, 88, 89, .8);
    color: #ffffff;
}

.slide_img {
    z-index: -1;
}

#i1:checked~#one,
#i2:checked~#two {
    z-index: 9;
}

.slider-presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f5f5f5;
}

.slider-txt {
    text-align: center;
}

.slider-title {
    font-size: 3em;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 50px 0;
}

.slider-para {
    font-size: 2em;
    font-weight: normal;
}

.btn {
    background-color: #5cadd3;
    border-radius: 3px;
    height: 50px;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
}

.slider-btn a {
    color: #fff;
    font-size: 2em;
    font-weight: bolder;
}

.section-title {
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    padding-top: 25px;
}

.blue-point {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.line {
    width: 150px;
    height: 1px;
    border-top: solid 1px #B0B0B0;
    text-align: center;
    position: relative;
}

.line i {
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.services-para {
    text-align: center;
    font-size: 16px;
    margin: 10px;
    margin-top: 25px;
    margin-bottom: 35px;
}

h3 {
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
}

.services-block {
    margin: auto;
    padding: 0 10px;
    display: none;
}

.icones {
    border: 1px solid rgba(204, 204, 204, 0.50);
    border-radius: 50%;
    padding: 20px;
    position: relative;
    /* la width est là pour éviter de casser le design en mobile*/
    width: 100px;
    margin: 0 auto;
}

.icones i {
    padding: 0 5px;
}

.icones-circle {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#projets {
    background-color: #f5f5f5;
}

.filtres-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 50px 0;
    padding: 0;
}

.filtres-li {
    font-size: 12px;
}

.filtres-link {
    text-decoration: none;
    color: rgb(118, 121, 126);
    background-color: rgb(229, 229, 229);
    border-radius: 5px;
    padding: 8px;
    position: relative;
}

.filtres-link:hover {
    background-color: #3BAED7;
    color: #fff;
    border-bottom: 3px solid #3BAED7;
}

.filtres-link:hover::after {
    content: "";
    border: 10px solid transparent;
    border-top: 10px solid #3BAED7;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.projet-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* On met une width de 100% pour adapter la taille */

.img-container {
    /* A défaut d'avoir une meilleur méthode j'utilise les position relatives et absolutes pour positioner ma légende. */
    position: relative;
}

.projets-img {
    width: 100%;
}

figcaption {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: absolute;
    bottom: 0px;
    visibility: hidden;
    width: 100%;
    height: 75px;
}

.legende-title {
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    /* Le h3 semble avoir des marges par défaut */
    margin: 0;
    margin-left: 5px;
}

.legende-para {
    font-size: 16px;
    text-align: left;
    margin-left: 5px;
}

.img-container:hover figcaption {
    visibility: visible;
}

/* On stylise l'icône pour qu'elle coresponde à la maquette */

.eye {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fff;
    background-color: #3BAED7;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #fff;
}

/* Style de l'iframe*/

.carte {
    /* on utilise une position relative pour placer notre iframe */
    position: relative;
    overflow: hidden;
    /* Permet de garder la carte au bon ratio */
    padding-top: 100%;
    background-color: #3BAED7;
}

.contact-iframe {
    position: absolute;
    /*Pour positionner la carte au centre de son container*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    opacity: 0.7;
}

.form-contact {
    background-color: #f5f5f5;
    padding: 30px 20%;
    /* va centrer le formulaire */
    text-align: center;
}

.contact-para {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #000;
}

/* je cible les input car ce sont les seuls dans l'intégration */

input {
    width: 95%;
    height: 25px;
    margin: 15px 0;
}

textarea {
    width: 95%;
}

@media (min-width: 768px) {
    .header-nav .header-list {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .projet-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .img-container {
        width: calc(50% - 80px);
    }
    input {
        width: 63%;
    }
    textarea {
        width: 63%;
    }
}

@media (min-width: 1024px) {
    header {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .header-nav ul li {
        margin: 0 30px;
    }
    .nav-link:hover {
        padding-top: 30px;
    }
    .slider {
        display: block;
        /* position: relative; */
    }
    .slider-presentation {
        position: absolute;
        top: 60%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        z-index: 9;
        background-color: transparent;
        color: #fff;
        font-size: 10px;
    }
    .slider-title {
        font-size: 4em;
        text-align: left;
        margin: 15px 0;
        padding: 0 110px;
    }
    .slider-para {
        text-align: left;
        margin-left: 110px;
    }
    .slider-title span {
        color: #3BAED7;
    }
    .btn {
        margin: 10px 110px;
    }
    .services-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 10%;
    }
    .services-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin: 0;
        width: 50%;
    }
    .services-contents {
        width: 50%;
        padding: 5% 0;
    }
    .services-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .services-txt {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        text-align: left;
    }
    .services-para-icones {
        text-align: left;
        font-size: 16px;
    }
    .icones {
        margin: 0 30px;
    }
    .icones-circle {
        position: absolute;
        top: 50%;
        left: 100%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    .section-title {
        font-size: 4em;
    }
    h3 {
        text-align: center;
    }
    /*Partie portfolio*/
    .img-container {
        width: calc(30% - 172px);
    }
    .projet-container {
        padding: 40px;
    }
    /*formulaire de contact*/
    #contact {
        position: relative;
    }
    .form-contact {
        position: absolute;
        top: 50px;
        right: 70px;
        width: 45%;
        height: 30%;
        background-color: #f5f5f5;
        padding: 40px 17%;
    }
}